body {
    margin: 0;
    padding: 0;
    font-size: 35px;
    font-family: "Arial";
}

a {
    text-decoration: none;
    color: #000;
}

.overview table {
    width: 100%;
    height: calc(100vh - 50px);
    text-align: center;
}

.status {
    width: 100%;
    height: 50px;
    color: #fff;
    font-size: 26px;
    line-height: 50px;
    padding: 0 20px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
}

.questionContainer {
    width: 75%;
    margin: 100px auto;
    border: 1px solid #333;
    padding: 50px;
    font-weight:bold;
    font-size: 60px;
    text-align: center;
}

.countdown {
    margin: 0 auto;
    font-size: 40px;
}

.statement,
.answer,
.buttons {
    display: none;
}

.statement {
    font-size: 30px;
    margin-top: 50px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th {
    height: 150px;
    width:20%;
}


td a {
    padding: 20px;
}


td.locked {
    background-color: #ccc;
}

td.locked a {
    text-decoration: line-through;
}

.points {
    float: right;
}

.points .team{
    float: left;
    padding: 0 20px;
    border-left: 1px solid #000;
}

.answer {
    font-size: 40px;
}